<?xml version="1.0" encoding="UTF-8"?>

<persistence xmlns="http://java.sun.com/xml/ns/persistence"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence" version="1.0">
  <persistence-unit name="JPAService" transaction-type="RESOURCE_LOCAL">
    <properties>
      <property name="hibernate.dialect" value="org.hibernate.dialect.HSQLDialect"/>
      <property name="hibernate.hbm2ddl.auto" value="update"/>
      <property name="hibernate.connection.driver_class" value="org.hsqldb.jdbcDriver"/>
      <property name="hibernate.connection.username" value="sa"/>
      <property name="hibernate.connection.password" value=""/>
      <property name="hibernate.connection.url" value="jdbc:hsqldb:data/tutorial"/>
    </properties>
  </persistence-unit>
</persistence>


<!--<persistence -->
<!--	xmlns="http://java.sun.com/xml/ns/persistence"-->
<!-- 	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="1.0"-->
<!-- 	xsi:schemaLocation="http://java.sun.com/xml/ns/persistence  -->
<!-- http://java.sun.com/xml/ns/persistence/persistence_1_0.xsd">-->
<!---->
<!--	<persistence-unit -->
<!--		name="LexManager" -->
<!--		transaction-type="JTA">-->
<!--		<provider>org.apache.openjpa.persistence.PersistenceProviderImpl</provider>-->
<!--		<jta-data-source>jdbc_dc</jta-data-source>-->
<!--		<jar-file>EMLTTSEditorWebTesting</jar-file>-->
<!--		<class>src.lexicon.LexDB</class>-->
<!--	</persistence-unit>-->
<!--</persistence>-->